.bb {
    box-sizing: border-box;
}
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden],
template {
    display: none;
}
a {
    background: 0 0;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: 700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}
body,
html {
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
h1,
h2,
h3 {
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
}
abbr {
    text-transform: uppercase;
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
}
time {
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
}
code,
kbd,
pre,
samp {
    -webkit-font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
    font-feature-settings: "kern" 0, "liga" 0, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}
sup {
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
}
sub {
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
}
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
    -webkit-font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
    font-feature-settings: "kern" 0, "liga" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
}
table {
    -webkit-font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
    font-feature-settings: "kern" 0, "liga" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
}
table tfoot,
table thead {
    -webkit-font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
    font-feature-settings: "kern" 1, "liga" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
}
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
strong {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    line-height: 1.2;
    margin: 0 0 0.35em 0;
}
p {
    line-height: 1.7em;
    text-align: left;
    margin: 20px 0;
}
h1 {
    font-size: 38px;
    font-size: 3.8rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
h2 {
    font-size: 26px;
    font-size: 2.6rem;
}
h3 {
    font-size: 21px;
    font-size: 2.1rem;
}
h4 {
    font-size: 16px;
    font-size: 1.6rem;
}
h5 {
    font-size: 14px;
    font-size: 1.4rem;
}
h6 {
    font-size: 10px;
    font-size: 1rem;
}
p,
span {
    font-size: 15px;
    font-size: 1.5rem;
}
ol a,
p a,
ul a {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: #3e2420;
}
@media only screen and (min-width: 1025px) {
    a {
        transition: color 1s;
    }
    a:hover {
        color: #fd634a;
    }
}
.serif {
    letter-spacing: 1px;
    font-family: nunito-black, sans-serif;
    color: #3e2420;
}
.signature {
    padding: 20px 0;
    text-align: left;
}
.signature h6 {
    text-transform: uppercase;
    color: #3e2420;
    letter-spacing: 2px;
    margin: 0;
}
.signature h5 {
    font-size: 48px;
    font-size: 4.8rem;
    font-family: veneertwo, serif;
    margin: 0;
}
.signature.center {
    text-align: center;
}
blockquote {
    border-left: 2px solid #3e2420;
    margin: 40px 0 40px 30px;
    padding-left: 10px;
    line-height: 1.8;
}
blockquote p {
    font-size: 28px;
    font-size: 2.8rem;
    color: #3e2420;
    font-family: nunito-black, sans-serif;
    letter-spacing: 1px;
    opacity: 1;
    margin: 0;
}
.badge {
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 1px;
    display: inline-block;
    padding: 0.6em 1em;
    border-radius: 1em;
    line-height: 1.1em;
    background-color: rgba(62, 36, 32, 0.7);
    color: #fff;
    margin: 10px 0;
}
.badge-rounded {
    display: inline-block;
    padding: 0.6em 0.9em;
    background: #3e2420;
}
.date-icon:before {
    font-size: 32px;
    font-size: 3.2rem;
    font-family: "77-Essential-Icons";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    speak: none;
    line-height: 1;
    color: #fff;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "t";
    vertical-align: middle;
    margin-right: 0.3em;
}
strong {
    font-family: nunito-black, sans-serif !important;
}
.transition {
    transition: opacity 1s;
    opacity: 1;
}
.transition-in {
    opacity: 0;
}
.transition-out {
    opacity: 0;
}
.fade {
    transition: opacity 1s;
    opacity: 1;
}
.fade-in {
    opacity: 0;
}
.fade-out {
    opacity: 0;
}
.slide-from-top {
    transition: -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.slide-from-top-in {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.slide-from-top-out {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.slide-to-top {
    transition: -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.slide-to-top-in {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.slide-to-top-out {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.slide-left {
    transition: -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.slide-left-in {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    overflow: hidden;
}
.slide-left-out {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow: hidden;
}
.splash-transition {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.splash-transition-out {
    transition: -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition: transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
@font-face {
    font-family: nunito-black;
    src: url(/fonts/Nunito-Black.eot?c6bf76c429dbdc05395a775ca16016ec);
    src: url(/fonts/Nunito-Black.eot?c6bf76c429dbdc05395a775ca16016ec?#iefix) format("embedded-opentype"), url(/fonts/Nunito-Black.woff2?6238427c2148b38ab197969667667440) format("woff2"),
        url(/fonts/Nunito-Black.woff?d60501acc7a27f70f95ba09afdcbe3b7) format("woff"), url(/fonts/Nunito-Black.ttf?005454d8f0c400b618dc3970484b8365) format("truetype"),
        url(/fonts/Nunito-Black.svg?c360d13b30dc978fd72f314671cc2b0e) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: nunito;
    src: url(/fonts/Nunito-SemiBold.eot?524c07ee066ed16b9aca8ce2aef92632);
    src: url(/fonts/Nunito-Black.eot?c6bf76c429dbdc05395a775ca16016ec?#iefix) format("embedded-opentype"), url(/fonts/Nunito-SemiBold.woff2?0bb5d38dcf90426a75130251e95bed66) format("woff2"),
        url(/fonts/Nunito-SemiBold.woff?74d64160291f72f12b65826bc7dcc5fd) format("woff"), url(/fonts/Nunito-SemiBold.ttf?82c3a6e2c1edc45f4f7bb9a8f05d26a7) format("truetype"),
        url(/fonts/Nunito-SemiBold.svg?e3939987aa4a19d47dd268e7229fcc00) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: veneertwo;
    src: url(/fonts/VeneerTwo.eot?7d3ad5b0335fa24fae18570b6ef122cb);
    src: url(/fonts/VeneerTwo.eot?7d3ad5b0335fa24fae18570b6ef122cb?#iefix) format("embedded-opentype"), url(/fonts/VeneerTwo.woff2?88f49489eb74fa1c4ed976992e34d068) format("woff2"),
        url(/fonts/VeneerTwo.woff?45127a9af8b7a2308babffbe67ca32a8) format("woff"), url(/fonts/VeneerTwo.ttf?0323ced80ce71295493f43a6049a6a0b) format("truetype"), url(/fonts/VeneerTwo.svg?fc3ddd59dadfecbdc2696ecb098702a9) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "77-Essential-Icons";
    src: url(/fonts/77-Essential-Icons.eot?17e77f1ff3969680accfaf3373dead40);
    src: url(/fonts/77-Essential-Icons.eot?17e77f1ff3969680accfaf3373dead40?#iefix) format("embedded-opentype"), url(/fonts/77-Essential-Icons.woff?34dbddff83063ace56ecb5f77c7a93e3) format("woff"),
        url(/fonts/77-Essential-Icons.ttf?95e96da1ea5ff9c89fed8c749e756a1a) format("truetype"), url(/fonts/77-Essential-Icons.svg?7994c5591770f3795edf38a0cbf5fc39#77-Essential-Icons) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
.icon.bg {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #3e2420;
}
.icon.bg:before {
    line-height: 60px;
    vertical-align: middle;
}
.icon.inverted {
    background-color: #fff;
}
.icon.inverted:before {
    color: #3e2420;
}
.icon:before {
    font-size: 32px;
    font-size: 3.2rem;
    font-family: "77-Essential-Icons";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    speak: none;
    line-height: 1;
    color: #fff;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon.icon-Food {
    position: relative;
}
.icon.icon-Food:before {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-left: -2px;
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    top: 50%;
    left: 55%;
    background-image: url(/images/knive-fork.svg?c84d6ad2979dad5f086887bd05cca9b7);
    background-size: cover;
}
.icon.icon-Plus:before {
    content: "+";
}
.icon.icon-Attachment:before {
    content: "a";
}
.icon.icon-Reply:before {
    content: "r";
}
.icon.icon-BarGraph:before {
    content: "g";
}
.icon.icon-Book:before {
    content: "R";
}
.icon.icon-Bookmark:before {
    content: "B";
}
.icon.icon-Briefcase:before {
    content: "b";
}
.icon.icon-BrowserWindow:before {
    content: "w";
}
.icon.icon-Calendar:before {
    content: "c";
}
.icon.icon-Camera:before {
    content: "C";
}
.icon.icon-Cancel:before {
    content: "x";
}
.icon.icon-Clock:before {
    content: "t";
}
.icon.icon-CommentwithLines:before {
    content: "m";
}
.icon.icon-Comment:before {
    content: "M";
}
.icon.icon-Computer:before {
    content: "1";
}
.icon.icon-Controls:before {
    content: "S";
}
.icon.icon-Conversation:before {
    content: "s";
}
.icon.icon-CreditCard:before {
    content: "\A3";
}
.icon.icon-Crosshair:before {
    content: "T";
}
.icon.icon-Diary:before {
    content: "n";
}
.icon.icon-DownArrow:before {
    content: "d";
}
.icon.icon-Email:before {
    content: "e";
}
.icon.icon-Folder:before {
    content: "f";
}
.icon.icon-Forward:before {
    content: "F";
}
.icon.icon-Heart:before {
    content: "3";
}
.icon.icon-Home:before {
    content: "h";
}
.icon.icon-Inbox:before {
    content: "D";
}
.icon.icon-Layers:before {
    content: "L";
}
.icon.icon-LeftArrow:before {
    content: "<";
}
.icon.icon-Link:before {
    content: "l";
}
.icon.icon-List:before {
    content: ":";
}
.icon.icon-LocationMarker:before {
    content: "P";
}
.icon.icon-Location:before {
    content: "K";
}
.icon.icon-Map:before {
    content: "q";
}
.icon.icon-Medal:before {
    content: "H";
}
.icon.icon-Menu:before {
    content: "=";
}
.icon.icon-Microphone:before {
    content: "A";
}
.icon.icon-Minus:before {
    content: "-";
}
.icon.icon-Options:before {
    content: "o";
}
.icon.icon-MoreOptions:before {
    content: "O";
}
.icon.icon-Music:before {
    content: "N";
}
.icon.icon-Mute:before {
    content: "X";
}
.icon.icon-Notification:before {
    content: "j";
}
.icon.icon-Padlock:before {
    content: "k";
}
.icon.icon-Document:before {
    content: "W";
}
.icon.icon-Phone:before {
    content: "i";
}
.icon.icon-Photo:before {
    content: "p";
}
.icon.icon-PieChart:before {
    content: "G";
}
.icon.icon-Pin:before {
    content: "J";
}
.icon.icon-View:before {
    content: "\531";
}
.icon.icon-Printer:before {
    content: "\532";
}
.icon.icon-Profile:before {
    content: "\533";
}
.icon.icon-Rearrange:before {
    content: "z";
}
.icon.icon-Refresh:before {
    content: "~";
}
.icon.icon-RightArrow:before {
    content: ">";
}
.icon.icon-Save:before {
    content: "y";
}
.icon.icon-Search:before {
    content: "Y";
}
.icon.icon-Settings:before {
    content: "2";
}
.icon.icon-Share:before {
    content: "@";
}
.icon.icon-Shop:before {
    content: "Q";
}
.icon.icon-Signals:before {
    content: "{";
}
.icon.icon-Signal:before {
    content: "|";
}
.icon.icon-Volume:before {
    content: "Z";
}
.icon.icon-Star:before {
    content: "*";
}
.icon.icon-iPad:before {
    content: "I";
}
.icon.icon-Tag:before {
    content: "E";
}
.icon.icon-Checkmark:before {
    content: "/";
}
.icon.icon-Toggle:before {
    content: "`";
}
.icon.icon-Trash:before {
    content: "_";
}
.icon.icon-Typing:before {
    content: ".";
}
.icon.icon-UpArrow:before {
    content: "^";
}
.icon.icon-User:before {
    content: "u";
}
.icon.icon-Users:before {
    content: "U";
}
.icon.icon-VideoCamera:before {
    content: "V";
}
.icon.icon-Video:before {
    content: "v";
}
.icon.icon-Warning:before {
    content: "!";
}
.icon.icon-CreateNew:before {
    content: "}";
}
@font-face {
    font-family: fontello;
    src: url(/fonts/fontello.eot?901733af49229dac2f6faaa47bf1c1b3);
    src: url(/fonts/fontello.eot?901733af49229dac2f6faaa47bf1c1b3#iefix) format("embedded-opentype"), url(/fonts/fontello.woff?910c050b846ed9df7cbbe3f925aba65b) format("woff"),
        url(/fonts/fontello.ttf?e69574e7a5cdd5540dc510caaba36b9b) format("truetype"), url(/fonts/fontello.svg?78d3de1c00d41050c8901eab52e275e9#fontello) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
i {
    display: inline-block;
    vertical-align: middle;
}
.icon-social:before {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: fontello;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    speak: none;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
}
.icon-social.aim:before {
    content: "\E800";
}
.icon-social.delicious:before {
    content: "\E801";
}
.icon-social.paypal:before {
    content: "\E802";
}
.icon-social.flattr:before {
    content: "\E803";
}
.icon-social.android:before {
    content: "\E804";
}
.icon-social.eventful:before {
    content: "\E805";
}
.icon-social.smashmag:before {
    content: "\E806";
}
.icon-social.gplus:before {
    content: "\E807";
}
.icon-social.wikipedia:before {
    content: "\E808";
}
.icon-social.lanyrd:before {
    content: "\E809";
}
.icon-social.calendar:before {
    content: "\E80A";
}
.icon-social.stumbleupon:before {
    content: "\E80B";
}
.icon-social.fivehundredpx:before {
    content: "\E80C";
}
.icon-social.pinterest:before {
    content: "\E80D";
}
.icon-social.bitcoin:before {
    content: "\E80E";
}
.icon-social.w3c:before {
    content: "\E80F";
}
.icon-social.foursquare:before {
    content: "\E810";
}
.icon-social.html5:before {
    content: "\E811";
}
.icon-social.ie:before {
    content: "\E812";
}
.icon-social.call:before {
    content: "\E813";
}
.icon-social.grooveshark:before {
    content: "\E814";
}
.icon-social.ninetyninedesigns:before {
    content: "\E815";
}
.icon-social.forrst:before {
    content: "\E816";
}
.icon-social.digg:before {
    content: "\E817";
}
.icon-social.spotify:before {
    content: "\E818";
}
.icon-social.reddit:before {
    content: "\E819";
}
.icon-social.guest:before {
    content: "\E81A";
}
.icon-social.gowalla:before {
    content: "\E81B";
}
.icon-social.appstore:before {
    content: "\E81C";
}
.icon-social.blogger:before {
    content: "\E81D";
}
.icon-social.cc:before {
    content: "\E81E";
}
.icon-social.dribbble:before {
    content: "\E81F";
}
.icon-social.evernote:before {
    content: "\E820";
}
.icon-social.flickr:before {
    content: "\E821";
}
.icon-social.google:before {
    content: "\E822";
}
.icon-social.viadeo:before {
    content: "\E823";
}
.icon-social.instapaper:before {
    content: "\E824";
}
.icon-social.weibo:before {
    content: "\E825";
}
.icon-social.klout:before {
    content: "\E826";
}
.icon-social.linkedin:before {
    content: "\E827";
}
.icon-social.meetup:before {
    content: "\E828";
}
.icon-social.vk:before {
    content: "\E829";
}
.icon-social.plancast:before {
    content: "\E82A";
}
.icon-social.disqus:before {
    content: "\E82B";
}
.icon-social.rss:before {
    content: "\E82C";
}
.icon-social.skype:before {
    content: "\E82D";
}
.icon-social.twitter:before {
    content: "\E82E";
}
.icon-social.youtube:before {
    content: "\E82F";
}
.icon-social.vimeo:before {
    content: "\E830";
}
.icon-social.windows:before {
    content: "\E831";
}
.icon-social.xing:before {
    content: "\E832";
}
.icon-social.yahoo:before {
    content: "\E833";
}
.icon-social.chrome:before {
    content: "\E834";
}
.icon-social.email:before {
    content: "\E835";
}
.icon-social.macstore:before {
    content: "\E836";
}
.icon-social.myspace:before {
    content: "\E837";
}
.icon-social.podcast:before {
    content: "\E838";
}
.icon-social.amazon:before {
    content: "\E839";
}
.icon-social.steam:before {
    content: "\E83A";
}
.icon-social.cloudapp:before {
    content: "\E83B";
}
.icon-social.dropbox:before {
    content: "\E83C";
}
.icon-social.ebay:before {
    content: "\E83D";
}
.icon-social.facebook:before {
    content: "\E83E";
}
.icon-social.github:before {
    content: "\E83F";
}
.icon-social.github-circled:before {
    content: "\E840";
}
.icon-social.googleplay:before {
    content: "\E841";
}
.icon-social.itunes:before {
    content: "\E842";
}
.icon-social.plurk:before {
    content: "\E843";
}
.icon-social.songkick:before {
    content: "\E844";
}
.icon-social.lastfm:before {
    content: "\E845";
}
.icon-social.gmail:before {
    content: "\E846";
}
.icon-social.pinboard:before {
    content: "\E847";
}
.icon-social.openid:before {
    content: "\E848";
}
.icon-social.quora:before {
    content: "\E849";
}
.icon-social.soundcloud:before {
    content: "\E84A";
}
.icon-social.tumblr:before {
    content: "\E84B";
}
.icon-social.eventasaurus:before {
    content: "\E84C";
}
.icon-social.wordpress:before {
    content: "\E84D";
}
.icon-social.yelp:before {
    content: "\E84E";
}
.icon-social.intensedebate:before {
    content: "\E84F";
}
.icon-social.eventbrite:before {
    content: "\E850";
}
.icon-social.scribd:before {
    content: "\E851";
}
.icon-social.posterous:before {
    content: "\E852";
}
.icon-social.stripe:before {
    content: "\E853";
}
.icon-social.opentable:before {
    content: "\E854";
}
.icon-social.cart:before {
    content: "\E855";
}
.icon-social.print:before {
    content: "\E856";
}
.icon-social.angellist:before {
    content: "\E857";
}
.icon-social.instagram:before {
    content: "\E858";
}
.icon-social.dwolla:before {
    content: "\E859";
}
.icon-social.appnet:before {
    content: "\E85A";
}
.icon-social.statusnet:before {
    content: "\E85B";
}
.icon-social.acrobat:before {
    content: "\E85C";
}
.icon-social.drupal:before {
    content: "\E85D";
}
.icon-social.buffer:before {
    content: "\E85E";
}
.icon-social.pocket:before {
    content: "\E85F";
}
.icon-social.bitbucket:before {
    content: "\E860";
}
.icon-social.lego:before {
    content: "\E861";
}
.icon-social.login:before {
    content: "\E862";
}
.icon-social.stackoverflow:before {
    content: "\E863";
}
.icon-social.hackernews:before {
    content: "\E864";
}
.icon-social.lkdto:before {
    content: "\E865";
}
.icon-social.duckduckgo:before {
    content: "\E866";
}
.pswp {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    touch-action: none;
    z-index: 1500;
    -webkit-text-size-adjust: 100%;
    -webkit-backface-visibility: hidden;
    outline: 0;
}
.pswp * {
    box-sizing: border-box;
}
.pswp img {
    max-width: none;
}
.pswp--animate_opacity {
    opacity: 0.001;
    will-change: opacity;
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp--open {
    display: block;
}
.pswp--zoom-allowed .pswp__img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.pswp--zoomed-in .pswp__img {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}
.pswp--dragging .pswp__img {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}
.pswp__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}
.pswp__scroll-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}
.pswp__container,
.pswp__zoom-wrap {
    touch-action: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pswp__container,
.pswp__img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.pswp__zoom-wrap {
    position: absolute;
    width: 100%;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transition: -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: transform 333ms cubic-bezier(0.4, 0, 0.22, 1), -webkit-transform 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp__bg {
    will-change: opacity;
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp--animated-in .pswp__bg,
.pswp--animated-in .pswp__zoom-wrap {
    transition: none;
}
.pswp__container,
.pswp__zoom-wrap {
    -webkit-backface-visibility: hidden;
    will-change: transform;
}
.pswp__item {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
.pswp__img {
    position: absolute;
    width: auto;
    height: auto;
    transition: opacity 0.15s;
}
.pswp__img--placeholder {
    -webkit-backface-visibility: hidden;
}
.pswp__img--placeholder--blank {
    background: #222;
}
.pswp--ie .pswp__img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.pswp__error-msg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    margin-top: -8px;
    color: #ccc;
}
.pswp__error-msg a {
    color: #ccc;
    text-decoration: underline;
}
.pswp__button {
    width: 44px;
    height: 44px;
    position: relative;
    background: 0 0;
    cursor: pointer;
    overflow: visible;
    -webkit-appearance: none;
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    float: right;
    opacity: 0.75;
    transition: opacity 0.2s;
    box-shadow: none;
}
.pswp__button:focus,
.pswp__button:hover {
    opacity: 1;
}
.pswp__button:active {
    outline: 0;
    opacity: 0.9;
}
.pswp__button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.pswp__ui--over-close .pswp__button--close {
    opacity: 1;
}
.pswp__button,
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    background: url(/images/default-skin.png?e3f799c6dec9af194c86decdf7392405) 0 0 no-repeat;
    background-size: 264px 88px;
    width: 44px;
    height: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.09375), (min-resolution: 105dpi), (min-resolution: 1.1dppx) {
    .pswp--svg .pswp__button,
    .pswp--svg .pswp__button--arrow--left:before,
    .pswp--svg .pswp__button--arrow--right:before {
        background-image: url(/images/default-skin.svg?b257fa9c5ac8c515ac4d77a667ce2943);
    }
    .pswp--svg .pswp__button--arrow--left,
    .pswp--svg .pswp__button--arrow--right {
        background: 0 0;
    }
}
.pswp__button--close {
    background-position: 0 -44px;
}
.pswp__button--share {
    background-position: -44px -44px;
}
.pswp__button--fs {
    display: none;
}
.pswp--supports-fs .pswp__button--fs {
    display: block;
}
.pswp--fs .pswp__button--fs {
    background-position: -44px 0;
}
.pswp__button--zoom {
    display: none;
    background-position: -88px 0;
}
.pswp--zoom-allowed .pswp__button--zoom {
    display: block;
}
.pswp--zoomed-in .pswp__button--zoom {
    background-position: -132px 0;
}
.pswp--touch .pswp__button--arrow--left,
.pswp--touch .pswp__button--arrow--right {
    visibility: hidden;
}
.pswp__button--arrow--left,
.pswp__button--arrow--right {
    background: 0 0;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute;
}
.pswp__button--arrow--left {
    left: 0;
}
.pswp__button--arrow--right {
    right: 0;
}
.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
    content: "";
    top: 35px;
    background-color: rgba(0, 0, 0, 0.3);
    height: 30px;
    width: 32px;
    position: absolute;
}
.pswp__button--arrow--left:before {
    left: 6px;
    background-position: -138px -44px;
}
.pswp__button--arrow--right:before {
    right: 6px;
    background-position: -94px -44px;
}
.pswp__counter,
.pswp__share-modal {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pswp__share-modal {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    transition: opacity 0.25s ease-out;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
}
.pswp__share-modal--hidden {
    display: none;
}
.pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #fff;
    top: 56px;
    border-radius: 2px;
    display: block;
    width: auto;
    right: 44px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-backface-visibility: hidden;
    will-change: transform;
}
.pswp__share-tooltip a {
    display: block;
    padding: 8px 12px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}
.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #000;
}
.pswp__share-tooltip a:first-child {
    border-radius: 2px 2px 0 0;
}
.pswp__share-tooltip a:last-child {
    border-radius: 0 0 2px 2px;
}
.pswp__share-modal--fade-in {
    opacity: 1;
}
.pswp__share-modal--fade-in .pswp__share-tooltip {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.pswp--touch .pswp__share-tooltip a {
    padding: 16px 12px;
}
a.pswp__share--facebook:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 15px;
    border: 6px solid transparent;
    border-bottom-color: #fff;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}
a.pswp__share--facebook:hover {
    background: #3e5c9a;
    color: #fff;
}
a.pswp__share--facebook:hover:before {
    border-bottom-color: #3e5c9a;
}
a.pswp__share--twitter:hover {
    background: #55acee;
    color: #fff;
}
a.pswp__share--pinterest:hover {
    background: #ccc;
    color: #ce272d;
}
a.pswp__share--download:hover {
    background: #ddd;
}
.pswp__counter {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    font-size: 13px;
    line-height: 44px;
    color: #fff;
    opacity: 0.75;
    padding: 0 10px;
}
.pswp__caption {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 44px;
}
.pswp__caption small {
    font-size: 11px;
    color: #bbb;
}
.pswp__caption__center {
    text-align: left;
    max-width: 420px;
    margin: 0 auto;
    font-size: 13px;
    padding: 10px;
    line-height: 20px;
    color: #ccc;
}
.pswp__caption--empty {
    display: none;
}
.pswp__caption--fake {
    visibility: hidden;
}
.pswp__preloader {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -22px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
    will-change: opacity;
    direction: ltr;
}
.pswp__preloader__icn {
    width: 20px;
    height: 20px;
    margin: 12px;
}
.pswp__preloader--active {
    opacity: 1;
}
.pswp__preloader--active .pswp__preloader__icn {
    background: url(/images/preloader.gif?b05c0846ef4ddce858c5a5670289e3eb) 0 0 no-repeat;
}
.pswp--css_animation .pswp__preloader--active {
    opacity: 1;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn {
    -webkit-animation: clockwise 0.5s linear infinite;
    animation: clockwise 0.5s linear infinite;
}
.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut {
    -webkit-animation: donut-rotate 1s cubic-bezier(0.4, 0, 0.22, 1) infinite;
    animation: donut-rotate 1s cubic-bezier(0.4, 0, 0.22, 1) infinite;
}
.pswp--css_animation .pswp__preloader__icn {
    background: 0 0;
    opacity: 0.75;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: 0;
}
.pswp--css_animation .pswp__preloader__cut {
    position: relative;
    width: 7px;
    height: 14px;
    overflow: hidden;
}
.pswp--css_animation .pswp__preloader__donut {
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    border-radius: 50%;
    border-left-color: transparent;
    border-bottom-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    background: 0 0;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .pswp__preloader {
        position: relative;
        left: auto;
        top: auto;
        margin: 0;
        float: right;
    }
}
@-webkit-keyframes clockwise {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes clockwise {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
@keyframes donut-rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50% {
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}
.pswp__ui {
    -webkit-font-smoothing: auto;
    visibility: visible;
    opacity: 1;
    z-index: 1550;
}
.pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
}
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right,
.pswp__caption,
.pswp__top-bar {
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}
.pswp--has_mouse .pswp__button--arrow--left,
.pswp--has_mouse .pswp__button--arrow--right {
    visibility: visible;
}
.pswp__caption,
.pswp__top-bar {
    background-color: rgba(0, 0, 0, 0.5);
}
.pswp__ui--fit .pswp__caption,
.pswp__ui--fit .pswp__top-bar {
    background-color: rgba(0, 0, 0, 0.3);
}
.pswp__ui--idle .pswp__top-bar {
    opacity: 0;
}
.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
    opacity: 0;
}
.pswp__ui--hidden .pswp__button--arrow--left,
.pswp__ui--hidden .pswp__button--arrow--right,
.pswp__ui--hidden .pswp__caption,
.pswp__ui--hidden .pswp__top-bar {
    opacity: 0.001;
}
.pswp__ui--one-slide .pswp__button--arrow--left,
.pswp__ui--one-slide .pswp__button--arrow--right,
.pswp__ui--one-slide .pswp__counter {
    display: none;
}
.pswp__element--disabled {
    display: none !important;
}
.pswp--minimal--dark .pswp__top-bar {
    background: 0 0;
}
html.remodal-is-locked {
    overflow: hidden;
    touch-action: none;
}
.remodal,
[data-remodal-id] {
    display: none;
}
.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}
.remodal-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    overflow: auto;
    text-align: center;
    -webkit-overflow-scrolling: touch;
}
.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}
.remodal-overlay,
.remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.remodal {
    position: relative;
    outline: 0;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
.remodal-is-initialized {
    display: inline-block;
}
.remodal-bg.remodal-is-opened,
.remodal-bg.remodal-is-opening {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.remodal-overlay {
    background: rgba(43, 46, 56, 0.9);
}
.remodal-overlay.remodal-is-closing,
.remodal-overlay.remodal-is-opening {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.remodal-overlay.remodal-is-opening {
    -webkit-animation-name: remodal-overlay-opening-keyframes;
    animation-name: remodal-overlay-opening-keyframes;
}
.remodal-overlay.remodal-is-closing {
    -webkit-animation-name: remodal-overlay-closing-keyframes;
    animation-name: remodal-overlay-closing-keyframes;
}
.remodal-wrapper {
    padding: 10px 10px 0;
}
.remodal {
    box-sizing: border-box;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    padding: 70px 70px 50px 70px;
    color: #945c25;
    background: #fff;
}
.remodal.remodal-is-closing,
.remodal.remodal-is-opening {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.remodal.remodal-is-opening {
    -webkit-animation-name: remodal-opening-keyframes;
    animation-name: remodal-opening-keyframes;
}
.remodal.remodal-is-closing {
    -webkit-animation-name: remodal-closing-keyframes;
    animation-name: remodal-closing-keyframes;
}
.remodal .icon {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
}
.remodal h1 {
    font-size: 28px;
    font-size: 2.8rem;
}
.remodal p {
    text-align: center;
}
.remodal .signature {
    padding-bottom: 0;
}
.remodal .remodal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    overflow: visible;
    width: 35px;
    height: 35px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: color 0.2s;
    text-decoration: none;
    color: #95979c;
    border: 0;
    outline: 0;
    background: 0 0;
}
.remodal .remodal-close:focus,
.remodal .remodal-close:hover {
    color: #2b2e38;
}
.remodal .remodal-close:before {
    font-size: 32px;
    font-size: 3.2rem;
    font-family: "77-Essential-Icons";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    speak: none;
    line-height: 1;
    color: #fff;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "x";
    color: #3e2420;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35px;
}
.remodal,
.remodal-wrapper:after {
    vertical-align: middle;
}
@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}
@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}
@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}
@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 500px;
    }
}
.lt-ie9 .remodal-overlay {
    background: #2b2e38;
}
.lt-ie9 .remodal {
    width: 500px;
}
::-moz-selection {
    background: #3e2420;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #3e2420;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #3e2420;
    color: #fff;
    text-shadow: none;
}
html {
    transition: all 0.3s linear;
    background-color: rgba(0, 0, 0, 0.95);
    font: normal 62.5%/1em nunito, serif;
    height: 100%;
    color: #fff;
    overflow: hidden;
    line-height: 1.7;
}
body {
    width: 100%;
    height: 100%;
}
body main {
    font-size: 14px;
    font-size: 1.4rem;
    z-index: 10;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media only screen and (max-width: 667px), only screen and (max-width: 667px) and (orientation: landscape), only screen and (min-width: 768px) and (max-width: 1024px) {
    body main {
        -webkit-overflow-scrolling: touch;
    }
}
body main .spacer {
    height: 2%;
    background: #3e2420;
}
:-moz-placeholder {
    color: rgba(62, 36, 32, 0.7);
}
::-moz-placeholder {
    color: rgba(62, 36, 32, 0.7);
    opacity: 1;
}
:-ms-input-placeholder {
    color: rgba(62, 36, 32, 0.7);
}
::-webkit-input-placeholder {
    color: rgba(62, 36, 32, 0.7);
}
.form {
    text-align: left;
    margin-top: 35px;
}
.form header {
    text-align: center;
}
.form form {
    margin: auto;
    padding-top: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    .form form {
        width: 500px;
    }
}
.form form label {
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3e2420;
    text-transform: uppercase;
    margin-top: 8px;
    display: block;
}
.form-inline.contact .row {
    margin: 0;
}
.form-inline.contact .form-group {
    padding: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    .form-inline {
        overflow: hidden;
    }
    .form-inline form .row {
        overflow: hidden;
    }
    .form-inline form .row .form-group {
        width: 48%;
        float: left;
        margin: 1%;
    }
    .form-inline form .row .form-group input {
        margin: 0;
    }
    .form-inline form .message,
    .form-inline form textarea {
        width: 98%;
        margin: 1% auto;
    }
}
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-size: 1.6rem;
    transition: all 0.5s;
    font-family: inherit;
    padding: 15px 50px 15px 20px;
    display: block;
    width: 100%;
    border: none;
    background-color: #fff;
    color: #3e2420;
    border: 2px solid #fff;
    -webkit-appearance: none;
    margin: 10px 0;
}
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
    outline: 0;
    outline: 0;
}
.form-group {
    position: relative;
    margin-bottom: 1px;
}
.form-group i {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 20px;
    top: 26px;
}
.form-group i:before {
    transition: color 0.4s;
    font-size: 24px;
    font-size: 2.4rem;
    color: #fff;
}
textarea {
    line-height: 1.5;
    resize: vertical;
}
.submit {
    text-align: center;
}
.submit button {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    border: 0;
    display: inline-block;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #3e2420;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin: 30px auto 0 auto;
    position: relative;
    z-index: 1;
}
.submit button:focus {
    outline: 0;
    outline: 0;
}
@media only screen and (min-width: 1025px) {
    .submit button {
        transition: background-color 0.3s;
    }
    .submit button:hover {
        background-color: #3e2420;
    }
    .submit button:hover i:before {
        color: #fff;
    }
}
@media only screen and (min-width: 1025px) {
    .submit i:before {
        transition: color 0.3s;
    }
}
.submit i:before {
    color: #3e2420;
    position: relative;
    z-index: 0;
}
.btn {
    color: #fff;
    background-color: #3e2420;
    border: 2px solid transparent;
    display: inline-block;
    text-decoration: none;
}
.btn a {
    display: block;
    padding: 0.7em 1.4em;
    text-decoration: none;
}
.btn * {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    text-transform: uppercase;
}
.btn.active {
    border-color: #fff;
}
.btn.active * {
    color: #fff;
}
@media only screen and (min-width: 1025px) {
    .btn:hover {
        color: #fff;
    }
}
select {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    color: #3e2420;
    border: 1px solid #945c25;
    -webkit-appearance: none;
    margin: 10px 0;
}
.gallery-item {
    border-radius: 3px;
    overflow: hidden;
    display: block;
}
.gallery-item figure {
    margin: 0;
}
figure {
    margin: 35px 0 20px;
    padding: 0;
    position: relative;
    overflow: hidden;
}
figure img {
    width: 100%;
}
figure a {
    position: relative;
}
figure figcaption {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 30px;
    text-align: left;
    color: #fff;
    overflow: hidden;
}
figure figcaption h3 {
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    color: #fff;
}
figure figcaption p {
    margin: 0;
    color: #3e2420;
}
figure figcaption i {
    display: none;
}
@media only screen and (min-width: 1025px) {
    figure figcaption {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        transition: -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        position: absolute;
        bottom: 0;
    }
    figure figcaption i {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
    }
    figure:hover figcaption {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.strokes {
    z-index: 1;
    overflow-y: scroll;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .strokes {
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0);
    }
}
@media only screen and (min-width: 1025px) {
    .strokes {
        overflow-x: scroll;
        overflow-y: hidden;
        background-color: rgba(0, 0, 0, 0);
    }
}
.strokes ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
.strokes ul li {
    width: 100vw;
    height: 25vh;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.strokes ul li a {
    transition: background-color 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    display: block;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.strokes ul li a section {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}
.strokes ul li a section h1,
.strokes ul li a section h2 {
    font-size: 24px;
    font-size: 2.4rem;
    font-family: veneertwo, serif;
    letter-spacing: 0;
    text-transform: uppercase;
}
.strokes ul li a section h5 {
    font-family: nunito, serif;
    line-height: 1em;
    margin-bottom: 0.1em;
}
.strokes ul li a section * {
    margin-top: 0;
}
.strokes ul li a footer {
    box-sizing: border-box;
    text-align: center;
    display: none;
    padding: 40px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.strokes ul li a footer h5 {
    margin: 0;
    letter-spacing: 0;
}
.strokes ul li a footer p {
    font-size: 13px;
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
}
.strokes ul li h6 {
    font-weight: 100;
    letter-spacing: 1px;
    opacity: 0.7;
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .strokes ul li {
        height: 35vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    .strokes ul li {
        display: inline-block;
        width: 25vw;
        height: 100vh;
    }
}
@media only screen and (min-width: 1025px) {
    .strokes ul li a {
        background-color: rgba(0, 0, 0, 0);
    }
    .strokes ul li a section * {
        transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        opacity: 0;
    }
    .strokes ul li a section h5 {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    .strokes ul li a section h1,
    .strokes ul li a section h2 {
        font-size: 40px;
        font-size: 4rem;
        opacity: 1;
    }
    .strokes ul li a footer {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        display: block;
    }
    .strokes ul li a footer h5 {
        color: #fff;
        letter-spacing: 0;
    }
    .strokes ul li a footer .icon {
        -webkit-transform: none;
        transform: none;
        transition-delay: 0.3s;
    }
    .strokes ul li a footer .icon:before {
        font-size: 40px;
        font-size: 4rem;
    }
    .strokes ul li a:hover {
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
    }
    .strokes ul li a:hover section * {
        opacity: 1;
    }
    .strokes ul li a:hover section h1 {
        opacity: 1;
    }
    .strokes ul li a:hover section h5 {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    .strokes ul li a:hover footer {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.always-show-logo .strokes {
    top: 10%;
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .always-show-logo .strokes {
        top: 15%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .always-show-logo .strokes {
        top: 7%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    .always-show-logo .strokes {
        top: 0;
    }
}
header {
    height: 10vh;
    position: fixed;
    text-align: center;
    width: 100vw;
    z-index: 100;
    background: #3e2420;
}
header .logo {
    position: absolute;
    top: 15%;
    left: 5%;
    height: 80%;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    header .logo {
        left: 38%;
    }
}
header .logo img {
    height: inherit;
}
header .hammenu {
    z-index: 12;
    position: absolute;
    width: 100px;
    top: 10%;
    right: 2%;
    height: 100%;
    text-align: right;
    display: none;
}
header .hammenu h1 {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
header .hammenu img {
    height: 70%;
}
header .hammenu p {
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    header .hammenu {
        top: 0;
    }
    header .hammenu * {
        display: inline-block !important;
        vertical-align: middle;
    }
    header .hammenu p {
        padding-top: 1px;
    }
}
@media only screen and (min-width: 1260px) {
    header .hammenu {
        width: 120px;
    }
}
header .hammenu.showable {
    display: block !important;
}
header .menu {
    display: none;
    z-index: 12;
    position: absolute;
    width: 100px;
    top: 10%;
    right: 1%;
    height: 100%;
    width: 200px;
    text-align: right;
}
header .menu ul li a {
    color: #fff;
    transition: none;
    text-decoration: none;
}
header .menu h1 {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
header .menu.showable {
    display: block !important;
}
header .menu img {
    height: 70%;
    cursor: pointer;
}
header .menu:hover ul {
    display: block;
}
header .menu:hover ul:hover {
    display: block;
}
header .menu ul {
    display: none;
    background-color: #3e2420;
    list-style: none;
    padding: 0 !important;
    margin: 0;
    margin-top: -15px;
    text-align: left;
}
header .menu ul li {
    color: #fff;
    font-family: veneertwo, serif;
    font-size: 15px;
    padding: 5px 20px;
}
header .menu ul li:hover {
    background-color: #fff;
    color: #3e2420;
}
header .menu ul li:hover a {
    color: #3e2420;
}
header .rcrumbs {
    display: none;
    line-height: 18px;
    white-space: nowrap;
    background-color: #fbecda;
    top: 100%;
    position: absolute;
    width: 100%;
    height: 4vh;
}
header .rcrumbs ul {
    padding: 0;
    list-style: none;
    display: -webkit-inline-box;
    margin: 0 auto;
}
header .rcrumbs ul li {
    font-size: 2vh;
    overflow: hidden;
}
header .rcrumbs ul li.show {
    display: inline-block;
}
header .rcrumbs ul li.ellipsis {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}
header .rcrumbs a {
    color: #3e2420 !important;
    font-family: veneertwo, serif;
    text-decoration: none;
    transition: color 1s;
}
header .rcrumbs a:hover {
    color: #945c25;
}
header .rcrumbs .divider {
    color: #3e2420 !important;
    padding: 0 5px;
    font-size: 90%;
}
header .rcrumbs.showable {
    display: block !important;
}
.content-wrap {
    background-color: #fbecda;
    min-height: 55vh;
    margin-top: -4vh;
    padding-bottom: 50px;
}
.content-wrap2 {
    background-color: #fbecda;
    min-height: 55vh;
    margin-top: 13vh;
    padding-bottom: 50px;
}
.content-wrap2 p {
    color: #3e2420;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
}
.content {
    padding: 0 30px 30px;
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    .content {
        padding: 0 50px 50px 50px;
        min-height: 30vh;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content {
        padding: 0 75px 50px 75px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    .content {
        max-width: 650px;
        margin: auto;
    }
}
.content i.bg {
    display: block;
    margin: auto;
    text-align: center;
}
.content header {
    box-sizing: border-box;
    height: auto;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    .content header {
        margin: 1em 0 2.5em 0;
    }
}
.content header.with-subnav {
    margin: 0 0 35px 0;
}
.content header.with-subnav ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
}
.content header.with-subnav ul li {
    transition: background-color 0.3s;
    display: inline-block;
}
.content header.with-subnav ul li * {
    transition: background-color 0.3s;
}
.content header.with-subnav ul li:hover {
    border-color: #3e2420;
    background-color: #3e2420;
}
.content header.with-subnav ul li:hover * {
    color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 768px) and (max-width: 1024px) {
    .content header.with-subnav ul {
        text-align: center;
    }
}
@media only screen and (min-width: 1025px) {
    .content header.with-subnav ul {
        text-align: center;
        overflow: hidden;
    }
    .content header.with-subnav ul li {
        cursor: pointer;
    }
}
.content section {
    padding-bottom: 30px;
}
.content section:last-child {
    padding-bottom: 0;
}
.content section.info {
    text-align: center;
}
ol,
ul {
    text-align: left;
    padding-left: 25px;
    margin: 20px 0;
    color: #3e2420;
}
ol li,
ul li {
    line-height: 2.3;
    letter-spacing: 1px;
}
ol li h4,
ul li h4 {
    color: #3e2420;
    text-transform: none;
    letter-spacing: 1px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    ol,
    ul {
        padding-left: 45px;
        margin: 20px 0;
    }
}
ul.link-list {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000;
}
ul.link-list li {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #fd634a;
}
ul.link-list li a {
    box-sizing: border-box;
    padding: 30px;
    display: block;
    text-decoration: none;
}
ul.link-list li a .content {
    padding: 0;
}
ul.link-list li a h3 {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
ul.link-list li a ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.link-list li a ul li {
    background-color: transparent;
    display: inline-block;
    border: none;
    margin-right: 10px;
}
ul.link-list li a ul li i {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
}
ul.link-list li a ul li i:before {
    font-size: 18px;
    font-size: 1.8rem;
    color: #fff;
}
ul.link-list li a ul li p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    display: inline-block;
    font-family: nunito-black, sans-serif;
}
ul.link-list li .next {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right: 0;
    top: 50%;
    width: 2.5em;
    height: 2.5em;
}
ul.link-list li .next:before {
    color: #fff;
}
@media only screen and (max-width: 667px) {
    ul.link-list li .next {
        display: none;
    }
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    ul.link-list li {
        display: block;
    }
    ul.link-list li .next {
        display: block;
    }
    ul.link-list li a {
        padding: 30px 50px;
    }
    ul.link-list li a .content {
        min-height: 0;
    }
    ul.link-list li a .next {
        right: 30px;
    }
    ul.link-list li h6:before {
        color: #fff;
        margin-right: 5px;
        content: attr(data-label);
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul.link-list li h6:before {
        color: #fff;
        margin-right: 5px;
        content: attr(data-label);
    }
    ul.link-list li a {
        padding: 35px 75px;
    }
    ul.link-list li .next {
        right: 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    ul.link-list li h6:before {
        color: #fff;
        margin-right: 5px;
        content: attr(data-label);
    }
    ul.link-list li a {
        padding: 40px 180px;
    }
    ul.link-list li h4 {
        font-size: 21px;
        font-size: 2.1rem;
    }
    ul.link-list li small {
        font-size: 16px;
        font-size: 1.6rem;
    }
    ul.link-list li h6 {
        font-size: 14px;
        font-size: 1.4rem;
    }
    ul.link-list li .next {
        right: 150px;
    }
}
@media only screen and (min-width: 1025px) {
    ul.link-list li .content {
        padding: 0;
    }
    ul.link-list li .next {
        transition: all 0.8s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    }
    ul.link-list li a {
        transition: background-color 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        padding: 30px 0;
        margin: auto;
    }
    ul.link-list li .next {
        opacity: 0.2;
    }
    ul.link-list li a:hover {
        background-color: rgba(62, 36, 32, 0.7);
    }
    ul.link-list li a:hover .next {
        right: 100px;
        opacity: 1;
    }
}
ul.icon-list {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}
ul.icon-list li {
    margin-bottom: 10px;
    display: block;
}
ul.icon-list li a {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 2;
    display: block;
    text-decoration: none;
}
ul.icon-list li a i {
    min-width: 2em;
    text-align: center;
}
ul.icon-list li a i:before {
    font-size: 26px;
    font-size: 2.6rem;
    vertical-align: middle;
    color: #fff;
    margin-right: 5px;
}
ul.icon-list li a i.icon-social:before {
    font-size: 14px;
    font-size: 1.4rem;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    ul.icon-list li a {
        font-size: 18px;
        font-size: 1.8rem;
    }
}
ul.price-list {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 650px;
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    ul.price-list {
        margin: 0 auto 30px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul.price-list {
        margin: 20px auto 50px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px), only screen and (min-width: 1025px) {
    ul.price-list {
        margin: 20px auto 70px;
    }
}
ul.price-list li {
    margin-bottom: 35px;
}
ul.price-list li .top {
    border-bottom: 1px dashed #3e2420;
}
ul.price-list li .top .title {
    font-size: 20px;
    font-size: 2rem;
    line-height: 35px;
    color: #fff;
    margin: 0;
    display: inline-block;
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media only screen and (max-width: 667px) and (orientation: landscape) {
    ul.price-list li .top .title {
        width: 480px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul.price-list li .top .title {
        width: 540px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    ul.price-list li .top .title {
        width: 550px;
    }
}
ul.price-list li .top .price {
    font-size: 14px;
    font-size: 1.4rem;
    color: #fff;
    float: right;
    margin: 0;
}
ul.price-list li .description {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: nunito-black, sans-serif;
    text-align: left;
    color: #fff;
    font-weight: 700;
    margin: 15px 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    ul.price-list li .description {
        font-size: 13px;
        font-size: 1.3rem;
    }
}
section.hours {
    text-align: center;
}
.hours {
    padding: 20px 0;
    display: inline-block;
    text-align: center;
}
time {
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    text-align: left;
    line-height: 2.5;
}
time * {
    display: inline-block;
}
time strong {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: nunito-black, sans-serif;
    color: #3e2420;
    min-width: 110px;
    margin-right: 10px;
}
time h3 {
    letter-spacing: 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape), only screen and (min-width: 1025px) {
    time {
        font-size: 18px;
        font-size: 1.8rem;
    }
}
#slideshow {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#slideshow li {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    z-index: 0;
}
#slideshow li.visible {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
#slideshow li img {
    display: none;
}
main {
    overflow-x: hidden;
}
main .overlay {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 2, 2, 0.4);
    z-index: 0;
}
#splash {
    transition: all 1s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    z-index: 40;
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#splash.hidden {
    display: none;
}
#splash .loader {
    position: absolute;
    top: 45%;
    width: 100%;
}
#splash .loader img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s linear;
}
#splash .loader img.visible {
    opacity: 1;
}
#splash .loader .line {
    width: 0;
    height: 1px;
    background-color: #3e2420;
    -webkit-animation: fadeInAnimation 2s;
    animation: fadeInAnimation 2s;
}
@-webkit-keyframes fadeInAnimation {
    0% {
        width: 0;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
@keyframes fadeInAnimation {
    0% {
        width: 0;
    }
    80% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}
.notice {
    box-sizing: border-box;
    margin: 50px 0 0;
    background-color: #3e2420;
    border-radius: 5px;
    position: relative;
    text-align: left;
    padding: 35px 20px 20px 20px;
}
.notice .icon {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 0;
    text-align: center;
}
.notice h3,
.notice p {
    color: #fff;
}
.notice h3 {
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 5px;
}
.notice p {
    opacity: 0.6;
    margin: 10px 0 0;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .notice {
        padding-top: 20px;
    }
}
@media only screen and (min-width: 1025px) {
    .notice {
        padding-top: 20px;
    }
}
.white {
    color: #fff;
}
.shadow {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 145px;
    background-image: url(/images/shadow.png?72909d98079f99cf15f9ddf9aece3848);
    background-repeat: repeat-x;
    background-position: bottom left;
}
.message {
    box-sizing: border-box;
    padding: 20px;
    background-color: rgba(5, 2, 2, 0.4);
    display: block;
    text-align: left;
}
.message:before {
    font-size: 32px;
    font-size: 3.2rem;
    font-family: "77-Essential-Icons";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    speak: none;
    line-height: 1;
    color: #fff;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 21px;
    font-size: 2.1rem;
    color: #3e2420;
    content: "m";
    vertical-align: middle;
    margin-right: 10px;
}
.overlay-dark {
    background-color: rgba(0, 0, 0, 0.9);
}
.overlay {
    background-color: rgba(5, 2, 2, 0.4);
}
.overlay-alt {
    background-color: rgba(62, 36, 32, 0.7);
}
.slider-container {
    font-family: nunito, serif;
    -webkit-transition: background 1s ease-in-out;
    -moz-transition: background 1s ease-in-out;
    -o-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;
    height: 90%;
    margin-top: 10vh;
    background-color: #3e2420;
    background-size: cover;
}
@media only screen and (max-width: 1024px) {
    .slider-container {
        background-position-x: -100px;
    }
}
.slider-container .__control {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    border-radius: 50%;
    background: rgba(148, 92, 37, 0.5);
    transition: background-color 0.3s;
    cursor: pointer;
}
.slider-container .__control--right {
    left: 95%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.slider-container .__control:hover {
    background-color: rgba(62, 36, 32, 0.7);
}
.slider-container .__control-line {
    position: absolute;
    left: 23px;
    top: 50%;
    width: 3px;
    height: 14px;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.slider-container .__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(-135deg);
    transform: translateY(1px) rotate(-135deg);
}
.slider__control--right .slider-container .__control-line {
    left: 37px;
    -webkit-transform-origin: 1px 0;
    transform-origin: 1px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.slider__control--right .slider-container .__control-line:nth-child(2) {
    -webkit-transform: translateY(1px) rotate(135deg);
    transform: translateY(1px) rotate(135deg);
}
.slider-container .__control-line:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e2e2e2;
    transition: background-color 0.3s;
}
.slider__control:hover .slider-container .__control-line:after {
    background-color: #fff;
}
.slider__control.a--rotation .slider-container .__control-line:after {
    -webkit-animation: arrowLineRotation 0.49s;
    animation: arrowLineRotation 0.49s;
}
.slider__control.a--rotation .slider-container .__control-line:nth-child(1):after {
    -webkit-animation: arrowLineRotationRev 0.49s;
    animation: arrowLineRotationRev 0.49s;
}
@-webkit-keyframes arrowLineRotation {
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes arrowLineRotation {
    to {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@-webkit-keyframes arrowLineRotationRev {
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes arrowLineRotationRev {
    to {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
.slider-container .__content {
    font-family: nunito-black, sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 10%;
    bottom: 15%;
    margin-left: -30px;
    margin-top: 48px;
    max-width: 600px;
    color: #fff;
    display: none;
}
.slider-container .__content--active {
    display: block;
}
.slider-container .__content h3 {
    font-size: 30px;
    line-height: 1;
}
.slider-container .__content h4 {
    text-transform: none;
    font-family: nunito;
    font-size: 25px;
    line-height: 1;
}
.slider-container .__content p {
    font-size: large;
    line-height: 1;
}
.slider-container .__content a {
    text-decoration: none;
    color: #fff;
    line-height: 1;
}
.slider-container .__content .btn-slide {
    color: #3e2420;
    padding: 5px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 15px;
    line-height: 1;
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
@media only screen and (min-width: 1025px) {
    .slider-container .__content a {
        transition: color 1s;
    }
    .slider-container .__content a:hover {
        color: #3e2420;
    }
    .slider-container .__content h3 {
        font-size: 40px!important;
    }
    .slider-container .__content h4 {
        font-size: 30px!important;
    }
    .slider-container .__content .btn-slide {
        font-size: 30px!important;
    }
}

.footer {
    z-index: 100;
    color: #3e2420;
    background-color: #fff;
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}
.footer h2,
.footer h4 {
    padding-top: 20px;
    height: 20px;
    font-family: veneertwo, serif;
}
.footer ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.footer ul li {
    line-height: 1.5;
}
.footer ul li a {
    transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    text-decoration: none;
}
.footer ul li a span {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.footer ul li a i {
    padding: 5px;
}
.footer span {
    color: #3e2420;
    font-size: 1em;
    display: block;
}
@media only screen and (min-width: 1025px) {
    .footer {
        height: 200px;
        -webkit-columns: 4;
        -moz-columns: 4;
        columns: 4;
        text-align: justify;
    }
    .footer div {
        padding-left: 15%;
        height: -webkit-fill-available;
    }
    .footer div:first-of-type {
        text-align: center;
    }
    .footer div:not(:first-child) {
        border-left: 1px solid rgba(62, 36, 32, 0.1);
    }
    .footer ul {
        text-align: justify;
    }
    .footer ul li a {
        transition: all 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        text-decoration: none;
    }
    .footer ul li a span {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
    .footer ul li a i {
        padding: 5px;
    }
    .footer ul li a img {
        width: 40px;
    }
    .footer ul .brand-logo {
        padding-left: 16%;
    }
    .footer h2,
    .footer h4 {
        padding-top: 0;
        font-size: 26px;
        font-size: 2.6rem;
    }
}
.detail {
    margin-top: 13vh;
    background-image: url(/images/textura.jpg?5086ec6318cee35eaeeb61583ffbfa01);
    height: 250px;
    display: table;
    width: 100%;
}
.detail section {
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}
.detail section.full-s {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 30;
}
.detail section.full-s h1 {
    margin: 0;
}
.detail section.full-s .menu {
    z-index: 12;
}
.detail section.full-s .menu ul li a {
    color: #fff;
    transition: none;
    text-decoration: none;
    margin: 2px;
}
.detail section.full-s .menu h1 {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}
.detail section.full-s .menu.showable {
    display: block !important;
}
.detail section.full-s .menu .button {
    height: 70%;
    cursor: pointer;
}
.detail section.full-s .menu:hover ul {
    display: block;
}
.detail section.full-s .menu:hover ul:hover {
    display: block;
}
.detail section.full-s .menu ul {
    display: none;
    background-color: #3e2420;
    list-style: none;
    padding: 0 !important;
    margin: 0;
    margin-top: -15px;
    text-align: center;
    position: absolute;
    left: 15%;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    .detail section.full-s .menu ul {
        left: 85%;
    }
}
.detail section.full-s .menu ul li {
    color: #fff;
    font-family: veneertwo, serif;
    font-size: 15px;
}
.detail section.full-s .menu ul li:hover {
    background-color: #fff;
    color: #3e2420;
}
.detail section.full-s .menu ul li:hover a {
    color: #3e2420;
}
.detail section h1 {
    font-size: 38px;
    font-size: 3.8rem;
    font-family: veneertwo, serif;
    text-align: center;
    text-transform: uppercase;
    color: #3e2420;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    .detail section h1 {
        font-size: 80px;
        font-size: 8rem;
    }
}
.detail section .button {
    top: 0;
    right: 10%;
    margin-right: 10px;
}
.detail section .button img {
    width: 20px;
}
@media only screen and (max-width: 667px) {
    .detail section {
        text-align: center;
    }
}
figure {
    margin: 5px 0 5px;
    padding: 0;
    position: relative;
    overflow: hidden;
}
figure:hover .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;
}
figure:hover .section {
    opacity: 1;
}
figure .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -3;
}
figure .overlay--active {
    z-index: 3;
}
figure .overlay section {
    position: absolute;
    top: 70%;
    height: 10em;
    margin-top: -5em;
    text-align: center;
    width: 100%;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 890px) {
    figure .overlay section {
        top: 50%;
    }
}
figure .overlay section h1 {
    font-size: 6rem;
    font-family: veneertwo, serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 890px) {
    figure .overlay section h1 {
        font-size: 13rem;
    }
}
figure p {
    color: #3e2420;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-size: 18px;
}
figure .two-cols:first-child,
figure .two-cols:nth-child(2) {
    position: relative;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    figure .two-cols:first-child,
    figure .two-cols:nth-child(2) {
        position: relative;
        width: 40%;
        left: 10%;
        display: inline-block;
        vertical-align: middle;
        height: 358px;
    }
    figure .two-cols.full-w:first-child,
    figure .two-cols.full-w:nth-child(2) {
        height: 400px;
        width: 49%;
        left: 1%;
    }
}
figure .two-cols-1-by-2 > div:first-child,
figure .two-cols-1-by-2 > div:nth-child(2) {
    position: relative;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    figure .two-cols-1-by-2 > div:first-child,
    figure .two-cols-1-by-2 > div:nth-child(2) {
        vertical-align: top;
        position: relative;
        left: 10%;
        display: inline-block;
        height: 100%;
    }
    figure .two-cols-1-by-2 > div:first-child {
        width: 35%;
        left: 10%;
    }
    figure .two-cols-1-by-2 > div:nth-child(2) {
        width: 45%;
        left: 10%;
    }
}
figure .two-cols-content > div:first-child,
figure .two-cols-content > div:nth-child(2) {
    position: relative;
    margin-top: 30px;
    padding: 10px;
}
figure .two-cols-content .info-box {
    font-family: veneertwo, serif;
    border: 2px dotted #3e2420;
    height: 200px;
}
figure .two-cols-content .info-box ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding-left: 40px;
}
figure .two-cols-content .info-box .left-pad {
    padding-left: 20px;
}
figure .two-cols-content .searchBlock h2,
figure .two-cols-content .searchBlock h3 {
    color: #3e2420 !important;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    figure .two-cols-content > div:first-child,
    figure .two-cols-content > div:nth-child(2) {
        vertical-align: top;
        position: relative;
        left: 10%;
        display: inline-block;
        height: 100%;
    }
    figure .two-cols-content > div:first-child {
        width: 40%;
        left: 10%;
    }
    figure .two-cols-content > div:nth-child(2) {
        width: 40%;
        left: 10%;
    }
    figure .two-cols-content.map > div:nth-child(2) {
        width: 50%;
        left: 5%;
    }
    figure .two-cols-content.map > div:first-child {
        width: 45%;
        left: 5%;
    }
    figure .two-cols-content.contact > div:nth-child(2) {
        width: 40%;
        left: 2%;
    }
    figure .two-cols-content.contact > div:first-child {
        width: 40%;
        left: 0;
    }
}
figure .two-cols-content.contact h1, figure .two-cols-content.contact h2 {
    font-size: 25px;
}
figure .two-cols-content.contact ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}
figure .two-cols-content.contact ul li {
    display: inline-block;
}
figure .two-cols-content.contact ul li + li {
    padding-left: 20px;
}
figure .two-cols-content.contact ul li a {
    display: grid;
    text-align: center;
    text-decoration: none;
}
figure .two-cols-content.contact ul li a img {
    width: 60px;
}
figure .two-cols-content.contact .text {
    font-size: 14px;
}
figure .two-cols-content.contact .call-btn {
    width: 80%;
}
figure .three-cols-content > div:first-child,
figure .three-cols-content > div:nth-child(2),
figure .three-cols-content > div:nth-child(3) {
    position: relative;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    figure .three-cols-content > div:first-child,
    figure .three-cols-content > div:nth-child(2),
    figure .three-cols-content > div:nth-child(3) {
        vertical-align: top;
        position: relative;
        display: inline-block;
        height: 100%;
        width: 30%;
    }
}
figure .three-cols-content img {
    width: auto !important;
    height: 110px !important;
}
figure .centered {
    width: auto;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 768px) and (max-width: 1024px) {
    figure .centered {
        -webkit-transform: translate(30%, 10px);
        transform: translate(30%, 10px);
    }
}
figure h1 {
    color: #3e2420;
    text-align: center;
    font-family: veneertwo, serif;
}
figure h1 strong {
    color: #fd634a;
}
.gallery div {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.gallery img,
.gallery video {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}
.gallery .wrapper {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5em;
}
.gallery .masonry-wrapper {
    padding: 1.5em;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.gallery .masonry-wrapper.full-w {
    max-width: 100%;
}
.gallery .help-text {
    font-family: veneertwo;
    color: #3e2420;
    text-align: center;
    padding-top: 30px;
}
.gallery .masonry-item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 5px;
}
.gallery .masonry-item .product-title {
    background-color: #3e2420;
    font-family: veneertwo, serif;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .gallery .masonry-item {
        width: 49%;
    }
}
@media only screen and (min-width: 1024px) {
    .gallery .masonry-item {
        width: 33%;
    }
    .gallery .infography {
        max-width: 60% !important;
    }
}
.gallery .masonry-content,
.gallery .masonry-item {
    overflow: hidden;
    position: relative;
}
.gallery .masonry-content .overlay,
.gallery .masonry-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -3;
}
.gallery .masonry-content .overlay--active,
.gallery .masonry-item .overlay--active {
    z-index: 3;
}
.gallery .masonry-content .overlay section,
.gallery .masonry-item .overlay section {
    padding: 10px 30px 0 30px;
}
.gallery .masonry-content .overlay section:first-child,
.gallery .masonry-item .overlay section:first-child {
    text-align: center;
}
.gallery .masonry-content .overlay section h1,
.gallery .masonry-item .overlay section h1 {
    font-size: 3rem;
    font-family: veneertwo, serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.gallery .masonry-content .overlay section p,
.gallery .masonry-item .overlay section p {
    text-align: justify;
    line-height: 17px;
    margin: 10px 0;
}
.gallery .masonry-content h2,
.gallery .masonry-item h2 {
    text-align: center;
    text-transform: uppercase;
    color: #3e2420;
}
.gallery .masonry-item {
    -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.3));
    transition: -webkit-filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out;
    transition: filter 0.25s ease-in-out, -webkit-filter 0.25s ease-in-out;
}
.gallery .masonry-item:hover {
    -webkit-filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.3));
}
.gallery .masonry-footer {
    font-size: 0.75em;
    opacity: 0.25;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-bottom: -1.5em;
    transition: opacity 1s ease-in-out;
}
.gallery .masonry-footer a {
    color: currentColor;
}
.gallery .masonry-footer:active,
.gallery .masonry-footer:focus,
.gallery .masonry-footer:hover {
    opacity: 0.75;
}
.centered {
    text-align: center !important;
}
.has-display h1,
.has-display h2,
.has-display h3 {
    text-align: center;
    font-family: veneertwo, serif !important;
}
.has-display h1,
.has-display h3 {
    color: #3e2420 !important;
}
.has-display h2 {
    color: #fd634a;
}
.has-display .orange-title {
    font-size: 5rem !important;
}
.has-display h3 {
    text-align: left;
}
.has-display .text {
    text-align: justify;
    color: #3e2420;
}
.has-display .subtitle {
    font-size: 2.5rem;
    color: #3e2420;
    text-align: center;
}
.need-top-padding {
    padding-top: 30px !important;
}
.button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #fd634a;
    border-bottom: 3px solid #f39378;
    font-family: veneertwo, serif;
    font-size: 20px;
    color: #fff;
}
#zoneDef {
    color: #3e2420;
    font-size: 12px !important;
}
.cats {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0;
}
.cats li {
    display: inline-block;
    font-family: veneertwo, serif;
}
.cats li a {
    text-decoration: none;
}
.cats li a.active {
    text-decoration: underline;
}
.cats li + li:before {
    content: " - ";
}
.call-btn {
    width: 30%;
}
.sprite {
    background: url(../img/social/sprite.png) no-repeat;
    width: 35px;
    height: 40px;
    display: inline-block;
}
.fb {
    background-position: 0 0;
}
.tw {
    background-position: -70px 0;
}
.ig {
    background-position: -35px 0;
}
.yt {
    background-position: -105px 0;
}
.tt {
    background-position: -140px 0;
}
.main {
    z-index: 1000;
    position: absolute;
    bottom: 40px;
    float: right;
    right: 20px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-shadow: 1px 2px 10px #555;
    color: #fff;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    cursor: pointer;
    line-height: 35px !important;
    border-radius: 15px;
}
.main-item {
    font-family: VeneerTwo;
    font-size: 13px;
    width: 100px;
    height: 35px;
    background-color: #333;
    color: #4b1715;
}
.main-1 {
    left: -70%;
    bottom: 30%;
    background-color: #f1e8d6;
}
.main-2 {
    left: -90%;
    bottom: -15%;
    background-color: #fbb02e;
}
.main-3 {
    left: -70%;
    bottom: -60%;
    background-color: #3e2420;
    color: #fff;
}
.main:focus > .cir,
.main:hover > .cir {
    opacity: 1;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
}
p.flymenu {
    opacity: 0;
    position: relative;
    float: right;
    left: -58px;
    line-height: normal;
    top: -60px;
    padding: 2px 10px;
    height: 20px;
    border-radius: 3px;
    background: #9e9e9e;
    box-shadow: 1px 2px 10px #555;
}
.main:hover > p {
    opacity: 1;
}
.cir {
    z-index: 2;
    opacity: 0;
    position: absolute;
    right: 50%;
    bottom: 50%;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
* {
    outline: 0;
}
.main-ball {
    background: url(../img/social/mosca_80_x_160.png) no-repeat;
    background-position: -80px 0;
    width: 79px;
    height: 79px;
    border-radius: 100%;
}
.main-ball:focus,
.main-ball:hover {
    background-position: 0 0;
}
figure .overlay section h2 {
    font-size: 6rem;
    font-family: veneertwo, serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
@media only screen and (min-width: 1025px), only screen and (min-width: 890px) {
    figure .overlay section h2 {
        font-size: 13rem;
    }
}
.gallery .masonry-item .product-title {
    background-color: #3e2420;
    font-family: veneertwo, serif;
    margin-bottom: 0;
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
    color: #fff;
}
.has-display h2 {
    color: #3e2420 !important;
    font-size: 38px;
    font-size: 3.8rem;
}
.has-display h1,
.has-display h2,
.has-display h3 {
    text-align: center;
    font-family: veneertwo, serif !important;
}
.main-title {
    font-family: VeneerTwo;
    font-size: 60px;
    text-align: center;
    margin: 15px 0;
}
@media only screen and (max-width: 420px) {
    a.logo img {
        width: 285px;
    }
}
.ecommerce {
    display: none;
    z-index: 2;
}
.ecommerce-fly {
    z-index: 1000;
    position: absolute;
    bottom: 40px;
    right: 20px;
    display: inherit;
}
@media only screen and (min-width: 1025px) {
    .ecommerce > img {
        width: 120px;
        position: absolute;
        right: 150px;
        z-index: 2;
    }
    .ecommerce {
        display: inherit !important;
    }
    .ecommerce-fly {
        display: none !important;
    }
}
@media only screen and (min-width: 1440px) {
    .ecommerce > img {
        right: 200px !important;
        z-index: 2;
    }
}
figure .overlay section.news-section {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 55%;
}

figure .overlay section h2.news-h2 {
    font-size: 2.5rem;
    font-family: veneertwo, serif;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
figure .overlay section p.news2-p {
    display: none;
}
@media only screen and (min-width: 1024px){
    figure .overlay section h2.news-h2 {
        font-size: 6rem;
    }
    figure .overlay section.news-section {
            top: 30%;
    }
    figure .overlay section p.news2-p {
        display: inherit;color:white;text-align:center;
    }
}
.tab-container{
    display: flex;
    padding: 20px!important;

}
.tab {
  float: left;
  border-right: 2px solid #3e2420!important;
  width: 40%;

}
.tab button {
  display: block;
  background-color: inherit;
  color: #3e2420;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-family: veneertwo,serif;
  font-size: 25px;
}
.tab button:hover {
    background-color: rgba(62, 32, 36, .1);
}
.tab button.active {
    color: #fd634a;
    background-color: rgba(62, 32, 36, .1);
}
.tabcontent {
  float: left;
  display: none;
  padding: 5px!important;
  border: 1px solid #ccc;
  width: 60%;
  border-left: none;
  min-height: 300px;
}
.tab-title{
  color: #3e2420;
  font-family: veneertwo,serif;
  font-size: 30px;
}
.tabcontent p{
    color: #3e2420;
    text-align: justify;
}
@media only screen and (min-width: 1024px){
    .tab {
        width: 30%!important;
    }
    .tabcontent {
        width: 70%!important;
    }
}

@media only screen and (min-width: 1025px), only screen and (max-width: 1024px) and (min-width: 768px){
    figure .two-cols-content-news>div:first-child {
        width: 70%;
        left: 0%;
    }}
    @media only screen and (min-width: 1025px), only screen and (max-width: 1024px) and (min-width: 768px){
    figure .two-cols-content-news>div:first-child, figure .two-cols-content-news>div:nth-child(2) {
        vertical-align: top;
        position: relative;
        display: inline-block;
        height: 100%;
    }}
    figure .two-cols-content-news>div:first-child, figure .two-cols-content-news>div:nth-child(2) {
        position: relative;
        margin-top: 30px;
        padding: 10px;
    }
    @media only screen and (min-width: 1025px), only screen and (max-width: 1024px) and (min-width: 768px){
    figure .two-cols-content-news>div:nth-child(2) {
        width: 25%;
        left: 0%;
        border-left: 1px solid #3e2420;
    }}
    @media only screen and (min-width: 1025px), only screen and (max-width: 1024px) and (min-width: 768px){
    figure .two-cols-content-news>div:first-child, figure .two-cols-content-news>div:nth-child(2) {
        vertical-align: top;
        position: relative;
        display: inline-block;
        height: 100%;
    }}
    figure .two-cols-content-news>div:first-child, figure .two-cols-content-news>div:nth-child(2) {
        position: relative;
        margin-top: 30px;
        padding: 10px;
    }

    #cajacookies {
        background-color: rgba(255,255,255,0.5);
        color: #3e2420;
        margin: 0 auto;
        position: fixed;
        padding: 0 10px;
        bottom: 10px;
        z-index: 1001;
        margin-left: 6%;
        width: 86%;
        border-radius: 5px;
      }
      
      #cajacookies button {
        color: white;
        padding: 0 5px!important;
        font-family: nunito;
        border-radius: 5px;
      }