/* --------------------------------------------

12: Footer styling (Share buttons, author)

----------------------------------------------- */
.footer{
	
	z-index: 100;
	color: @color-secondary;
	background-color: white;
	margin-top: -5px;
	padding-top: 20px; 
	padding-bottom: 20px; 
	text-align: center;
	width: 100%;
	overflow-x: hidden;
	h2{
		padding-top: 20px; 
		height: 20px;
		font-family: @font-display;
	}
	
	ul{
		list-style: none;
		text-align: center;
		padding: 0;
		li{
			line-height: 1.5;
			a{
				.transition(all .5s @animation-bezier);
				text-decoration: none;
				span{
					.hide-text();
				}
				i{
					padding: 5px;
				}
			}
		}
	}
	span {
		color: @color-secondary;
		font-size: 1em;
		display: block;
	}
	@media @mq-desktop{
		height: 130px;
		columns: 4;
		text-align: justify; 
		div{
			padding-left: 15%; 
			height: -webkit-fill-available;
		}
		div:first-of-type{
			text-align: center;
		}
		div:not(:first-child){
			border-left: 1px solid rgba(62, 36, 32, 0.1);
		}
		ul{
			text-align: justify;

			li{
				a{
					.transition(all .5s @animation-bezier);
					text-decoration: none;
	
					span{
						.hide-text();
					}
	
					i{
						padding: 5px;
					}
					img{
						width: 40px;
					}
				}
			}

			.brand-logo{
				padding-left: 16%;
			}
		}
		h2{
			padding-top: 0; 
		}
	}
}