.detail{
    margin-top: 13vh;
    background-image: url(../../../public_html/img/our-cart/textura.jpg);
    height: 30vh;
    section{
        &.full-s{
            padding-top: 15px;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 30;
            .transform(translate(0%, 0%));
            h1{
                margin: 0;
            }
            .menu{
                ul{
                    li{
                        a{
                            color: white;
                            transition: none;
                            text-decoration: none;
                        }
        
                    }
                }
                z-index: @z-index-header;
                h1{
                    .hide-text();
                }
                &.showable{
                    display: block !important;
                }
                .button{
                    height: 70%;
                    cursor: pointer;
                }
                
                &:hover{
                    ul{
                        display: block;
                        &:hover{
                            display: block;
                        }
                    }
                }
                ul{
                    display: none;
                    background-color: @color-secondary;
                    list-style: none;
                    padding: 0 !important;
                    margin: 0 ;
                    margin-top: -15px ;
                    text-align: center;
                    width: 100px;
                    position: absolute;
                    left: 35%;
                    @media @mq-desktop, @mq-tablet{
                        left: 89%;
                    }
                    li{
                        color: white;
                        font-family: @font-display;
                        font-size: 15px;
                        padding: 5px 20px;
                        &:hover{
                            background-color: white;
                            color: @color-secondary;
                            a{
                                color: @color-secondary;
                                
                            }
                        }
                    }
                }
            }
        }

        .transform(translate(0%, 60%));
        text-align: right;
        h1{
            .font-size(@fontsize-h1);
            
            font-family: @font-display;
            text-align: center;
            text-transform: uppercase;
            color: @color-secondary;

        }
        @media @mq-desktop, @mq-tablet{
            h1{
                .font-size(@fontsize-title);
            }
        }

        .button{
            top: 0;
            right: 10%;
            margin-right: 10px;
            img{
                width: 20px;
            }
        }
    }
    @media @mq-phone {
        section{
            text-align: center;
        }
    }
}

figure {
    margin: 5px 0 5px;
    padding: 0;
    position: relative;
    overflow: hidden;

    :hover .overlay {
        background-color: @color-background-overlay-light;
        z-index: 3;
    }
      
    :hover .section {
        opacity: 1;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        transition: .5s ease;
        background-color: @color-background-overlay-light;
        z-index: -3;
        &--active{
            z-index: 3;
        }
        section{
            position: absolute;
            top: 70%;
            height: 10em;
            margin-top: -5em;
            text-align: center;
            width: 100%;

            @media @mq-desktop, @mq-tablet-large{
                top: 50%;
            }
            h1{
                font-size: 6rem;
                font-family: @font-display;
                text-align: center;
                text-transform: uppercase;
                color: @color-primary;

                @media @mq-desktop, @mq-tablet-large{
                    font-size: 13rem;
                }
            }
        }
        
    }

    
    p {
        color: @color-secondary;
        padding-left: 40px;
        padding-right: 40px;
        text-align: justify;
        font-size: 18px;
    }

    .two-cols{
        :first-child, :nth-child(2) {
            position: relative;
        }
        @media @mq-desktop, @mq-tablet {
            :first-child, :nth-child(2) {
                position: relative;
                width: 40%;
                left: 10%;
                display: inline-block;
                vertical-align: middle;
                height: 358px;
            }
            &.full-w{
                :first-child, :nth-child(2) {
                    height: 400px;
                    width: 49%;
                    left: 1%;
                }
            }
        }
    } 
    .two-cols-1-by-2{ 
        > div:first-child, > div:nth-child(2){
            position: relative;
        }
        @media @mq-desktop, @mq-tablet {
            > div:first-child, > div:nth-child(2){

                vertical-align: top;
                position: relative;
                left: 10%;
                display: inline-block;
                height: 100%;
            }

            > div:first-child{
                width: 35%;
                left: 10%;
            }
            > div:nth-child(2){
                width: 45%;
                left: 10%;
            }
        }
    } 
    .two-cols-content{
        > div:first-child, > div:nth-child(2){
            position: relative;
            margin-top: 30px;
        }
        
        .info-box{
            font-family: @font-display;
            border: 2px dotted @color-secondary;
            height: 200px;

            ul {
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                padding-left: 40px;
            }
            .left-pad{
                padding-left: 20px;
            }
              
        }
        .searchBlock{
            h2, h3 {
                color: @color-secondary !important;
            }

        }
        @media @mq-desktop, @mq-tablet {
            > div:first-child, > div:nth-child(2){

                vertical-align: top;
                position: relative;
                left: 10%;
                display: inline-block;
                height: 100%;
            }

            > div:first-child{
                width: 40%;
                left: 10%;
            }
            > div:nth-child(2){
                width: 40%;
                left: 10%;
            }
            &.map{
                > div:nth-child(2){
                    width: 50%;
                    left: 5%;
                }
                
                > div:first-child{
                    width: 45%;
                    left: 5%;
                }
            }
            &.contact{
                > div:nth-child(2){
                    width: 40%;
                    left: 2%;
                }
                
                > div:first-child{
                    width: 40%;
                    left: 0%;
                }
            }
        }
        &.contact{
            h1{
                font-size: 25px;
            }
            
            ul{
                display: inline-block;
                list-style: none;
                padding: 0;
                li {

                    +li{
                        padding-left: 20px;
                    }
                    display: inline-block;
                    a{
                        display: grid;
                        text-align: center;
                        text-decoration: none;
                        img{
                            width: 60px;
                        }
                    }

                }
            }
            .text{
                font-size: 14px;
            }
            .call-btn{
                width: 80%;
            }
        }
    }
    .three-cols-content{
        > div:first-child, > div:nth-child(2), > div:nth-child(3){
            position: relative;
        }
        @media @mq-desktop, @mq-tablet {
            > div:first-child, > div:nth-child(2), > div:nth-child(3){
                vertical-align: top;
                position: relative;
                display: inline-block;
                height: 100%;
                width: 30%;
            }
        }
        img{
            width: auto !important;
            height: 110px !important;
        }
    }
    .centered{
        width: auto;
        @media @mq-desktop, @mq-tablet {
            transform: translate(30%, 10px);
        }
    }

    h1 {
        color: @color-secondary;
        text-align: center;
        font-family: @font-display;
        strong{
            color: @color-quartiary;
        }
    }
}   




.gallery{

    div {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    img,
    video {
        max-width: 100%;
        width: 100%;
        vertical-align: middle;
    }
    .wrapper {
        max-width: 1280px;
        margin-right: auto;
        margin-left: auto;
        padding: 1.5em;
    }

    .masonry-wrapper {
        padding: 1.5em;
        max-width: 960px;
        margin-right: auto;
        margin-left: auto;

        &.full-w{
            max-width: 100%;
        }
    }
    .help-text{
        font-family: 'veneertwo';
        color: #3e2420;
        text-align: center;
        padding-top: 30px;
    }
    /*
    .masonry {
        columns: 1;
        column-gap: 5px;
    }*/

    .masonry-item {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 5px;

        .product-title{
            background-color: #3e2420;
            font-family: 'veneertwo', serif;
            margin-bottom: 0px;
            text-align : center;
            font-size: 2rem;
            padding-top: 5px;
        }
    }

    @media only screen and (max-width: 1023px) and (min-width: 768px) {
        /*.masonry {
            columns: 2;
        }*/
        .masonry-item {
           width: 49%;;
        }
    }

    @media only screen and (min-width: 1024px) {
        /*.masonry {
            columns: 3;
        }*/
        .masonry-item {
            width: 33%;
        }
        .infography{
            max-width: 60% !important;
        }
    }

    .masonry-item,
    .masonry-content {
        overflow: hidden;
        position: relative;

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            transition: .5s ease;
            background-color: @color-background-overlay-light;
            z-index: -3;
            &--active{
                z-index: 3;
            }
            section{
                padding: 10px 30px 0px 30px;
                :first-child{
                    text-align: center;
                }
                h1{
                    font-size: 3rem;
                    
                    font-family: @font-display;
                    text-align: center;
                    text-transform: uppercase;
                    color: @color-primary;
                }
                
                p{
                    text-align: justify;
                    margin: 10px 0;
                }
            }   
        }

        h2{
            text-align: center;
            text-transform: uppercase;
            color: @color-secondary;
        }
    }

    .masonry-item {
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, .3));
        transition: filter .25s ease-in-out;
    }

    .masonry-item:hover {
        filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, .3));
    }

    .masonry-footer {
        font-size: .75em;
        opacity: .25;
        text-align: center;
        padding-top: 3em;
        padding-bottom: 3em;
        margin-bottom: -1.5em;
        transition: opacity 1s ease-in-out;
    }

    .masonry-footer a {
        color: currentColor;
    }

    .masonry-footer:hover,
    .masonry-footer:active,
    .masonry-footer:focus {
        opacity: .75;
    }
}

.centered{
    text-align: center !important;
}

.has-display{
    h1, h2, h3{
        text-align: center;
        font-family: @font-display !important; 
    }
    h1, h3{
        color: @color-secondary !important;
    }
    h2{
        color: @color-quartiary;
    }
    .orange-title{
        font-size: 5rem !important;
    }
    h3{
      text-align: left;  
    }
    .text{
        text-align: justify;
        color: @color-secondary;
    }
    .subtitle{
        font-size: 2.5rem;
        color: @color-secondary;
        text-align: center,
    }
}

.need-top-padding{
    padding-top: 30px !important; 
}

.button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: @color-quartiary;
    border-bottom: 3px solid @color-fiftiary;
    font-family: @font-display; 
    font-size: 20px;
    color: white;
}

#zoneDef{
    color:  @color-secondary;
    font-size: 12px !important;
}

.cats{
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 0px;
    
    li{
        display: inline-block;
        font-family: @font-display;
        a{
            text-decoration: none;

            &.active{
                text-decoration: underline;
            }
        }

        +li:before{
            content: ' - ';
        }
    }
}
.call-btn{
    width: 30%;
}