/* --------------------------------------------

11: Homepage header (Which shows logo or back (X) button)

----------------------------------------------- */

header{

	height: 10vh;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: 100;
	background: @color-secondary;
	.logo{
		position: absolute;
		top: 15%;
		left: 5%;
		height: 80%;
		
		@media @mq-tablet-landscape, @mq-desktop{
			
			left: 38%;
		}

		img{
			height: inherit;
		}
	}

	.hammenu{

		z-index: @z-index-header;
		position: absolute;
		width: 100px;
		top: 10%;
		right: 1%;
		height: 100%;
		text-align: right;
		display: none;
		h1{
			.hide-text();
		}

        img{
            height: 70%;
        }
		p{
			display: none;
		}
		@media @mq-tablet-landscape, @mq-desktop{
			top: 0%;
			*{
				display: inline-block !important;
				vertical-align: middle;
			}

			p{
				padding-top: 1px;
			}
		}

		@media @mq-desktop-large{
			width: 120px;
		}

	}
	.hammenu{
		&.showable{
			display: block !important;
		}
	}

	.menu{
		display: none;
		ul{
			li{
				a{
					color: white;
					transition: none;
					text-decoration: none;
				}

			}
		}



	/*	@media @mq-phone, @mq-tablet-landscape{*/

			z-index: @z-index-header;
			position: absolute;
			width: 100px;
			top: 10%;
			right: 1%;
			height: 100%;
			width: 200px;
			text-align: right;
			h1{
				.hide-text();
			}
			&.showable{
				display: block !important;
			}
			img{
				height: 70%;
				cursor: pointer;
			}
			
			&:hover{
				ul{
					display: block;
					&:hover{
						display: block;
					}
				}
			}
			ul{
				display: none;
				background-color: @color-secondary;
				list-style: none;
				padding: 0 !important;
				margin: 0 ;
				margin-top: -15px ;
				text-align: left;
				li{
					color: white;
					font-family: @font-display;
					font-size: 15px;
					padding: 5px 20px;
					&:hover{
						background-color: white;
						color: @color-secondary;
						a{
							color: @color-secondary;
							
						}
					}
				}
			}
/*
	}
		@media @mq-desktop{
			color: rgb(235, 210, 210);
			ul{
				display: inline;
				li{
					color: white;
					font-family: @font-display;
					font-size: 20px;
					display: inline;
					padding-top: 15px;
					padding-left: 30px;
					padding-right: 30px;
				}
				li:nth-child(1), li:nth-child(2){
					float: left;
				} 
				li:nth-child(4), li:nth-child(5), li:nth-child(3){
					float: right;
				} 
			}
			img{
				display:none;
			}
			&.showable{
				display: block;
			}
		}*/
	}

	.rcrumbs {
		display: none;
		line-height: 18px;
		white-space: nowrap;
		background-color: @color-support;
		top: 100%;
		position: absolute;
		width: 100%;
		height: 4vh;
		ul{
			padding: 0;
			list-style: none;
			display: -webkit-inline-box;
			margin: 0 auto;
			
			li{
				font-size: 2vh;
				overflow: hidden;
				&.show{
					display: inline-block;
				}
				
				&.ellipsis{
					text-overflow: ellipsis;
					-o-text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
		
		a{	
			color: @color-secondary !important;
			font-family: @font-display;
			text-decoration: none;
			.transition(color @transition-speed);
			&:hover{
				color: @color-tertiary;
			}
		}
		.divider {
			color: @color-secondary !important;
			padding: 0 5px;
			font-size: 90%/1em;
		}
		&.showable{
			display: block !important;
		}
	}
}