@controlSize: 60px;

.slider-container {
    font-family: @font-sans;
    transition: background 1s linear;
    height: 90%;
    background-color: @color-secondary;
    background-size: cover;

    .__control {
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 5%;
        width: @controlSize;
        height: @controlSize;
        margin-left: @controlSize/-2;
        margin-top: @controlSize/-2;
        border-radius: 50%;
        background: @color-tertiary-transparant;
        transition: background-color 0.3s;
        cursor: pointer;
    
        &--right {
          left: 95%;
          transform: rotate(180deg);
        }
        
        &:hover {
          background-color: @color-secondary-transparant;
        }
    
        &-line {
          position: absolute;
          left: 23px;
          top: 50%;
          width: 3px;
          height: 14px;
          transform-origin: 50% 0;
          transform: rotate(-45deg);
    
          &:nth-child(2) {
            transform: translateY(1px) rotate(-135deg);
          }
    
          .slider__control--right & {
            left: 37px;
            transform-origin: 1px 0;
            transform: rotate(45deg);
    
            &:nth-child(2) {
              transform: translateY(1px) rotate(135deg);
            }
          }
    
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #e2e2e2;
            transition: background-color 0.3s;
          }
    
          .slider__control:hover &:after {
            background-color: #fff;
          }
    
          .slider__control.a--rotation & {
    
            &:after {
              animation: arrowLineRotation 0.49s;
            }
    
            &:nth-child(1):after {
              animation: arrowLineRotationRev 0.49s;
            }
          }
        }
      }
    
    @keyframes arrowLineRotation {
      to {
        transform: rotate(180deg);
      }
    }
    
    @keyframes arrowLineRotationRev {
      to {
        transform: rotate(-180deg);
      }
    }
    



    .__content {
        font-family: @font-serif;
        text-transform: uppercase;
        position: absolute;
        left: 10%;
        /*top: 40%;*/
        bottom: 15%;
        margin-left: @controlSize/-2;
        margin-top: @controlSize*0.8;
        max-width: 480px;
        color: #fff;
        display: none;
        &--active{
            display: block;
        }
        h1{
            font-size: xx-large;
            line-height: 1;
        } 
        p {
            font-size: large;
            line-height: 1;
        }
        a{
          text-decoration: none;
          color: @color-primary;
          line-height: 1;

          @media @mq-desktop{
        
            .transition(color @transition-speed);
        
            &:hover{
              color: @color-secondary;
            }
          }
        }
        
        .btn-slide{
          color: @color-secondary;
          padding: 5px;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 15px; 
          margin-bottom: 15px;
          line-height: 1;
          font-size: large;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
}