// Color scheme : White version

// -- Base colors -- //
@color-primary                  : hsl(0, 0%, 100%);
@color-secondary                : #3e2420;
@color-tertiary                 : #945c25;
@color-quartiary                : #fd634a;
@color-fiftiary                 : #f39378;
@color-support                  : #fbecda;

// -- Base transparent colors //
@color-primary-transparant      : rgba(255, 255, 255, .5);
@color-secondary-transparant    : rgba(62, 36, 32, .7);
@color-tertiary-transparant    : rgba(148, 92, 37, .5);

// -- Misc -- //
@color-selection                : @color-secondary;

// -- Theme -- //
@color-background-body          : rgba(0, 0, 0, 0.95);
@color-background-overlay-light : rgba(0, 0, 0, .6);
@color-background-overlay       : rgba(5, 2, 2, 0.4);
@color-background-overlay-dark  : rgba(0, 0, 0, .9);

// -- Navigation strokes -- //
@color-background-strokes       : rgba(0, 0, 0, .5);
@color-strokes-text-idle        : @color-primary;
@color-strokes-text-hover       : @color-primary;

// -- Text -- //
@color-text-primary             : @color-primary;
@color-text-secondary           : @color-secondary;
@color-blockquote               : @color-secondary;
@color-text-header              : @color-primary;

// -- Hyperlinks -- //
@color-link                     : @color-secondary;
@color-link-hover               : @color-quartiary;

// -- Icons -- //
@color-icon-primary             : @color-primary;
@color-icon-secondary           : @color-secondary;
@color-icon-background          : @color-secondary;
@color-icon-background-alt      : @color-primary;

// -- Forms -- //
@color-form-placeholder         : @color-secondary-transparant;
@color-form-border              : @color-secondary;
@color-form-icon                : @color-secondary;

// -- Badges -- //
@color-badge-background         : @color-secondary-transparant;
@color-badge-text               : @color-primary;

// -- Buttons --//
@color-button                   : @color-secondary;
@color-button-border            : transparant;
@color-button-active            : @color-primary;
@color-button-border-active     : @color-primary;
@color-button-hover             : @color-primary;
@color-button-back              : @color-primary;

// -- Notices -- //
@color-notice-background        : @color-secondary;
@color-notice-text              : @color-primary;

// -- Images -- //
@color-image-caption-background : rgba(0, 0, 0, .8);
@color-image-cpation-text       : @color-primary;

// -- Lists -- //
@color-list                     : @color-secondary;
@color-list-border              : @color-quartiary;
@color-linklist-background      : rgba(0, 0, 0, 95);
@color-linklist-background-hover: @color-secondary-transparant;