/* --------------------------------------------

4.2: Fonts inclusion (Display font: For signature)

----------------------------------------------- 
@font-face {
	font-family: 'veneertwo';
	src: url('@{base-url}fonts/kristi-webfont.eot');
	src: url('@{base-url}fonts/kristi-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{base-url}fonts/kristi-webfont.woff2') format('woff2'),
	url('@{base-url}fonts/kristi-webfont.woff') format('woff'),
	url('@{base-url}fonts/kristi-webfont.ttf') format('truetype'),
	url('@{base-url}fonts/kristi-webfont.svg#veneertwo') format('svg');
	font-weight: normal;
	font-style: normal;
}
----------------------------------------------- */
@font-face {
	font-family: 'veneertwo';
	src: url('@{base-url}fonts/VeneerTwo.eot');
	src: url('@{base-url}fonts/VeneerTwo.eot?#iefix') format('embedded-opentype'),
	url('@{base-url}fonts/VeneerTwo.woff2') format('woff2'),
	url('@{base-url}fonts/VeneerTwo.woff') format('woff'),
	url('@{base-url}fonts/VeneerTwo.ttf') format('truetype'),
	url('@{base-url}fonts/VeneerTwo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}