/* --------------------------------------------

4.1: Fonts inclusion (Serif)

-----------------------------------------------

@font-face {
	font-family: 'nunito';
	src: url('@{base-url}fonts/nunito.eot');

	src: local('O'),
	url('@{base-url}fonts/nunito.woff') format('woff'),
	url('@{base-url}fonts/nunito.ttf') format('truetype'),
	url('@{base-url}fonts/nunito.svg#nunito') format('svg');

	font-weight: normal;
	font-style: normal;
}

----------------------------------------------- */

@font-face {
	font-family: 'nunito';
	src: url('@{base-url}fonts/Nunito-SemiBold.eot');
	src: url('@{base-url}fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
	url('@{base-url}fonts/Nunito-SemiBold.woff2') format('woff2'),
	url('@{base-url}fonts/Nunito-SemiBold.woff') format('woff'),
	url('@{base-url}fonts/Nunito-SemiBold.ttf') format('truetype'),
	url('@{base-url}fonts/Nunito-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal; 
}