/* --------------------------------------------

4: Fonts inclusion (Sans serif)

----------------------------------------------- 

@font-face {
	font-family: 'nunito-black';
	src: url('@{base-url}fonts/montserrat-regular-webfont.eot');
	src: url('@{base-url}fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('@{base-url}fonts/montserrat-regular-webfont.woff2') format('woff2'),
	url('@{base-url}fonts/montserrat-regular-webfont.woff') format('woff'),
	url('@{base-url}fonts/montserrat-regular-webfont.ttf') format('truetype'),
	url('@{base-url}fonts/montserrat-regular-webfont.svg#nunito-black') format('svg');
	font-weight: normal;
	font-style: normal;
}
----------------------------------------------- */

@font-face {
	font-family: 'nunito-black';
	src: url('@{base-url}fonts/Nunito-Black.eot');
	src: url('@{base-url}fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
	url('@{base-url}fonts/Nunito-Black.woff2') format('woff2'),
	url('@{base-url}fonts/Nunito-Black.woff') format('woff'),
	url('@{base-url}fonts/Nunito-Black.ttf') format('truetype'),
	url('@{base-url}fonts/Nunito-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}