*{
	font-family:Raleway;
	font-weight:500;
	font-size:14px
}
.navbar{
	background-image:url(../image/Textura-Header.png)
}
.heart{
	background-image:url(../image/Textura-roja-superior.png);
	height:22vh
}
.heart-desktop{
	display:none;
	z-index:20
}
.heart-mobile{
	display:flex;
	position:absolute;
	left:0;
	z-index:20
}
.{
	padding-top:100px;
	background-image:url(../image/Textura-Blanca.png)
}
.is-horizontal-center{
	justify-content:center
}
.spacer{
	padding:30px
}
.subtitle{
	font-weight:900;
	color:#000;
	font-size:16px
}
.subtitle a{
	font-weight:900;
	color:#000;
	font-size:16px
}
h2{
	font-weight:900;
	color:#ce000f;
	text-align:center;
	font-size:34px
}
h3{
	font-weight:900;
	color:#fff;
	text-align:center;
	font-size:20px
}
img.is-is-marginless{
	text-align:center
}
.image-float{
	display:none
}
.steps{
	padding-top:60px
}
.column2{
	margin-top: 5%;
}
.social{
	padding:60px;
	background-image:url(../image/Textura-roja-inferior.png)
}
@media (min-width: 360px){
	.ganado {    
		max-width: 500%;
    	width: 118% !important;
	 	content:url("../image/Adornos-mariposas-y-ganado1.png") !important;
    	margin-left: -9.5% !important;
    	margin-top: 15%;
	}
	.is-100x100{
		margin-top: -30% !important;
	}
}
@media (min-width: 414px){
	.ganado {    
		max-width: 500%;
    	width: 118% !important;
	 	content:url("../image/Adornos-mariposas-y-ganado1.png") !important;
    	margin-left: -9.5% !important;
    	margin-top: 15%;
	}
	.is-100x100{
		margin-top: -30% !important;
	}
}
@media (min-width:1024px){

	.ganado{
	    margin-top: -5%;
	    margin-left: -1.5% !important;
		width: 100% !important;
	 	content:url("../image/Adornos-mariposas-y-ganado.png") !important;
	}
	.heart-desktop{
		display:flex;
		position:absolute;
		left:0
	}
	.heart-mobile{
		display:none
	}
	.heart{
		background-image:url(../image/Textura-roja-superior.png);
		height:35vh
	}
	.image-float{
		display:flex;
		position:absolute;
		right:0;
		bottom:-60px;
		z-index:20;
		width:250px
	}
	.nav-menus{
	    left: 42% !important;
	    margin-left: -60px;
	}
}

.legal{
	background-color:#260c0d;
	padding:20px
}

.nav-logo{
	position:absolute;
	left:50%;
	margin-left:-50px;
	margin-top:0;
	padding:0;
	height:100%;
	display:flex;
	align-items:center
}
.nav-menus{
	position:absolute;
	align-content: center;
	alignment-baseline: center margin-top:0;
	padding:0;
	height:100%;
	display:flex;
	align-items:center
}
.center-img{
	margin-top:-10%;
	margin-right:-3%;
}
